@model VotingViews.Models.CreateContestant

@{
    Layout = "_DashboardLayoutAdmin";
}


<div class="row">
    <div class="justify-content-center" style="max-width: 60%;
        box-sizing: border-box;
        box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.13);
        background-color:white;
        padding-left:20px;
        padding-right:20px;
        padding-bottom:20px;
        padding-top:20px;
        margin-top:1px;
        margin-left:auto;
        margin-right:auto;">
        <h4>Register Contestant</h4>
        <hr />
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Gender</label>
                <select asp-for="Gender" name="Gender" class="form-control">
                    <option>Male</option>
                    <option>Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Select Image</label>
                <input name="file" type="file" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="ElectionId" class="control-label">Select Election</label>
                <select asp-for="ElectionId" asp-items="@ViewBag.Elections" class="form-control">
                    <option disabled selected>--Select Election--</option>

                </select>
                <span asp-validation-for="ElectionId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PositionId" class="control-label">Select Position</label>
                <select asp-for="PositionId" class="form-control">
                    <option disabled selected>--Select Position--</option>

                </select>
                <span asp-validation-for="PositionId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
