@model VotingViews.Model.Entity.Position

@{
    Layout = "_DashboardLayoutAdmin";
}


<div class="row">
    <div class="justify-content-center" style="max-width: 70%;
        box-sizing: border-box;
        box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.13);
        background-color:white;
        padding-left:20px;
        padding-top:20px;
        padding-right:20px;
        padding-bottom:20px;
        margin-left:auto;
        margin-right:auto;">

        <h4>Create Position</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Position Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Election" class="text-danger">Election Name</label>
                <select class="form-control" name="ElectionId" asp-items="@ViewBag.Elections"></select>
                <span asp-validation-for="ElectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
