@model VotingViews.DTOs.ResultPageDto
@{ 
    Layout = "_DashboardLayoutVoter";
}

<div>
    <h3>@ViewBag.Message<a asp-action="Result" asp-controller="Voter" asp-route-id="@Model.Position.Id" asp-route-code="@Model.Code">Click Here</a> to view Result</h3>


</div>