@model dynamic

@{
    ViewData["Title"] = "DashBoard";
    Layout = "_DashboardLayoutVoter";
}


<div class="container">
    <div class="row container">
        <div class="col-6 p-auto m-auto">
            <h1>DashBoard</h1>

            <h5>Welcome! @User.Identity.Name</h5>
            <br />
            <div>
                <p>
                    Create an Election By Sending email To the Admin <b><a asp-action="SendEmail" asp-controller="SendMail">Here</a></b>
                </p>
            </div>
            <br />
            <div>
                <p>Please input your Election Code that was sent to you below</p>
                <form method="post" class="needs-validation">
                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <p class="alert alert-warning alert-dismissible" role="alert">@ViewBag.Message</p>
                    }
                    <input type="text" name="code" placeholder="Text" />
                    <button type="submit" asp-controller="Voter" asp-action="Election" value="Search" id="Button">Search</button>
                    @ViewBag.CodeError
                </form>

            </div>

        </div>
        <div class="col-6">
            <img style="height:500px; width:500vw; max-width:120%; max-height:100%;" src="~/images/Image/voting_imag.png" />
        </div>
    </div>
</div>

