@model IEnumerable<VotingViews.DTOs.ContestantDto>

@{
    ViewData["Title"] = "Result";
    Layout = "_DashboardLayoutVoter";
}

<h1>Result</h1>
&ensp;
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
               Contestant Name
            </th>>
            <th>
                Total Vote
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConestantVote)
                </td>
            </tr>
        }
    </tbody>
</table>
