@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center p-4 p-md-5" style="background-color:burlywood;">
    <h1 ><b>Online Voting System</b></h1>
    <p>A simple web-based Online Voting System Easy for you to Vote</p>
</div>

